* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smoke-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: var(--off-white);
}

.container {
  background-color: var(--white);
  width: 52rem;
  height: 570px;
  border-radius: 25px;
  border-bottom-right-radius: 175px;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-bottom: 10px;
}

.input-section {
  display: flex;
  gap: 30px;
}

.divider-section {
  display: flex;
  align-items: center;
}

.divider {
  width: 90%;
  height: 2px;
  background-color: var(--light-grey);
}

#calc-btn {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background-color: var(--purple);
  transition: all 0.25s;
  cursor: pointer;
}

#calc-btn:hover {
  background: var(--off-black);
}

#calc-btn:active {
  opacity: 0.6;
}

.input .error {
  text-transform: lowercase;
  color: var(--light-red);
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0px;
  font-size: 14px;
}

.input p {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--off-black);
  font-size: 16px;
  margin-bottom: 3px;
}

.input input {
  width: 10rem;
  height: 80px;
  border-radius: 8px;
  border: solid var(--light-grey) 1px;
  padding: 35px 30px 35px 25px;
  transition: all 0.25s ease;
  cursor: pointer;
}

.input input:hover {
  border-color: var(--purple);
}

.input input:valid {
  font-size: 32px;
  font-weight: 900;
}

.input input::placeholder {
  font-weight: 900;
  font-size: 32px;
  color: var(--smoke-grey);
}

.result-text {
  font-size: 90px;
  font-weight: 800;
  color: var(--off-black);
  line-height: 5.3rem;
  font-style: italic;
}

@media screen and (max-width: 650px) {
  .container {
    width: 93%;
    height: 60%;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .input input {
    width: 100%;
    padding: 15px 10px 15px 5px;
  }

  .input-section {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .error {
    width: inherit;
  }

  .divider-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #calc-btn {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-right: 5px;
  }

  #calc-btn img {
    width: 50%;
  }

  .result-text {
    font-size: 64px;
  }
}

.num-text {
  color: var(--purple);
}

.attribution {
  font-size: 16px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  transition: all 0.25s;
}

.attribution a:hover {
  color: var(--purple);
}
